<%
local uci = require "luci.model.uci".cursor()
local mapserver = uci:get("freifunk", "community", "mapserver") or "http://openwifimap.net/openwifimap/"
if type(mapserver)=="table" then
	mapserver = mapserver[#mapserver]
end
%>

<%+header%>

<h3>
	<a href=<%=mapserver%>/_design/openwifimap/index.html>OpenWifiMap on <%=mapserver%></a>
</h3>
<iframe src=<%=mapserver%>/_design/openwifimap/index.html name="owm-iframe" width="100%" height="640px" frameborder="0" scrolling="no">
</iframe>

<%+footer%>

