<%
local uci = require "luci.model.uci".cursor()
local mapserver = uci:get("freifunk", "community", "mapserver") or "http://openwifimap.net/openwifimap/"
if type(mapserver)=="table" then
	mapserver = mapserver[#mapserver]
end
local latitude = tonumber(uci:get_first("system", "system", "latitude"))
local longitude = tonumber(uci:get_first("system", "system", "longitude"))
local latitude1 = latitude - 0.01
local latitude2 = latitude + 0.01
local longitude1 = longitude - 0.01
local longitude2 = longitude + 0.01
%>

<%+header%>

<h3>
	<a href=<%=mapserver%>/_design/openwifimap/index.html#map?bbox=<%=longitude1%>,<%=latitude1%>,<%=longitude2%>,<%=latitude2%>>OpenWifiMap on <%=mapserver%></a>
</h3>
<iframe src=<%=mapserver%>/_design/openwifimap/index.html#map?bbox=<%=longitude1%>,<%=latitude1%>,<%=longitude2%>,<%=latitude2%> name="owm-iframe" width="100%" height="640px" frameborder="0" scrolling="no">
</iframe>
<br>
<a href="/cgi-bin/luci/owm.json"> JSON daten owm.json</a>

<%+footer%>

