config poemgr 'settings'
        option profile 'usw-flex'
        option disabled '1'

config port 'lan2'
        option name 'lan2'
        option port '3'
        option disabled '1'

config port 'lan3'
        option name 'lan3'
        option port '2'
        option disabled '1'

config port 'lan4'
        option name 'lan4'
        option port '1'
        option disabled '1'

config port 'lan5'
        option name 'lan5'
        option port '0'
        option disabled '1'
