<%
require("luci.sys")
require("luci.tools.webadmin")
local load1, load5, load15 = luci.sys.loadavg()
local uptime = luci.sys.uptime()
local request  = require("luci.dispatcher").context.path
local category = request[1]
local tree     = luci.dispatcher.node()
local cattree  = category and luci.dispatcher.node(category)
local node     = luci.dispatcher.context.dispatched
local hostname = luci.sys.hostname()
local identifier, model, total_mem, cache, buffer, free_mem = luci.sys.sysinfo()

local c = tree
for i,r in ipairs(request) do
	if c.nodes and c.nodes[r] then
		c = c.nodes[r]
		c._menu_selected = true
	end
end

--count changes:

function countchanges(tree)
	local count = 0 
	if tree.nodes[category] and tree.nodes[category].ucidata then
		for i, j in pairs(require("luci.model.uci").cursor():changes()) do
			for k, l in pairs(j) do
				for m, n in pairs(l) do
					count = count + 1;
				end
			end
		end
	end 
	return(count)
end

local ucic = countchanges(tree)


require("luci.i18n").loadc("default")
require("luci.http").prepare_content("text/html")

local function countsubs(node)
	local count=0
	for k, n in pairs(node.nodes) do
		if n.title and n.target then
			count = count + 1
		end
	end
	return(count)
end

local function iphone_button(content, class, script)
%>	
<!-- Begin iphone button -->
<span class="low_res_only iphone_button <%=class%>" onclick="<%=script%>">
	<table>
		<tr class="upper_corners">
			<td class="l"></td>
			<td class="c"></td>
			<td class="r"></td>
		</tr>
		<tr class="no_corner">
			<td></td>
			<td class="iphone_button_content"><%=content%></td>
			<td></td>				
		</tr>
		<tr class="lower_corners">
			<td class="l"></td>
			<td class="c"></td>
			<td class="r"></td>
		</tr>
	</table>
</span>
<!-- End iphone button -->
<%
end	


local function iphone_menu(prefix, node, id)
	if not node.nodes or node.hidden then
		return false
	end
	local index = {}
	local count = 0
	for k, n in pairs(node.nodes) do
		if n.title and n.target then
			table.insert(index, {name=k, order=n.order or 100})
			count = count + 1
		end
	end

	table.sort(index, function(a, b) return a.order < b.order end)

	if count > 0 then 		
		local subs
		local counter = 0
		local next_id
		local aclass = ""
		local ahref = ""
		for j, v in pairs(index) do
			if not v.hidden and #v.name > 0 then
				local nnode = node.nodes[v.name]
				local href = controller .. prefix .. v.name
				href = (nnode.query) and href .. luci.http.build_querystring(nnode.query) or href
				subs = countsubs(nnode)
				counter = counter + 1
				next_id = id.."_"..counter				
				ahref=luci.util.pcdata(href)
				if nnode._menu_selected then	
					aclass = "active"
				else
					aclass = ""
				end
%>

	<tr class="level<%=id%>">
		<td class="menu_item">
<% 
				iphone_button('<a class="' .. aclass .. '" href="' .. ahref .. '">' .. nnode.title .. '</a>', "", "top.location.href='" .. ahref .. "'")
%>
		</td>
		<td class="submenu_marker">
<%
		
				if subs > 0 then
					iphone_button("&rang;", "", "show_menu_items('level"..next_id.."')") 				
				end
%>
		</td>
	</tr>
<%
				iphone_menu(prefix .. v.name .. "/", nnode, next_id) 
%>

<%- 
			end 
		end 
	end
end
-%>








<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="<%=media%>/cascade.css" />
	<link rel="stylesheet"  media="only screen and (max-device-width: 480px)" href="<%=media%>/iphone.css" type="text/css" /> 
	<link rel="stylesheet"  media="handheld" href="<%=media%>/iphone.css" type="text/css" /> 
	<% if node and node.css then %><link rel="stylesheet" type="text/css" href="<%=resource%>/<%=node.css%>" />
	<% end %>
	<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
	<link rel="shortcut icon" href="<%=media%>/images/logo32x32.png" />
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. node.title or '')) %> - LuCI</title>
	<script type="text/javascript"> 
		if (top != self) 
  			top.location = self.location;		

		function show_menu_items(item){	
			var mid = document.getElementById('iphone_menu_items');
			var nodes = mid.getElementsByTagName('tr');		
			var needle = /^level/;
			var joker= document.getElementById('iphone_menu_joker');
			var check_level = item.lastIndexOf('_')
			var back = item.slice(0, check_level);
			
			if(check_level != -1){
				joker.style.display = 'inline';
				joker.href = 'javascript:show_menu_items(\''+back+'\');';		
			}else{
				joker.style.display = 'none';
			}
			
			for (var i = 0; i < nodes.length; ++i) {
				if (nodes[i].className!=item && needle.test(nodes[i].className)){
					nodes[i].style.display='none';
				} else {
					if (needle.test(nodes[i].className)) {
						nodes[i].style.display='';
					}
				}
			}
		}
	</script>
</head>

<body>
<div id="main">
	<div id="header">
		<a id="heading" href="https://piratenpartei.de">piraten.freifunk.net</a>
		<script type="text/javascript">
		/* <![CDATA[ */
		    (function() {
			var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
			s.type = 'text/javascript';
			s.async = true;
			s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
			t.parentNode.insertBefore(s, t);
		    })();
		/* ]]> */
		</script>
		<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="https://pberg.freifunk.net/moin/StartSeite"></a>
		<noscript><a href="http://flattr.com/thing/389016/pberg-freifunk-net" target="_blank">
		<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
<%
if cattree and cattree.nodes then
%>
		<!-- Begin iPhone menu -->
		<div id="iphone_menu" class="low_res_only">
			<!-- Begin iPhone menu handles -->
			<div id="iphone_menu_handles">
				<span  	id="iphone_menu_open">	
<%-
local menu_symbol = "&hellip;"
if ucic > 0 then
	menu_symbol = '<a class="warning">!</a>'
end

iphone_button(menu_symbol, "", "\
	document.getElementById('iphone_menu').style.width='960px';\
	document.getElementById('iphone_menu').style.height='100%';\
	document.getElementById('iphone_menu').style.background='transparent url("..media.."/images/black_60.png)';\
	document.getElementById('iphone_menu_close').style.display='inline';\
	document.getElementById('iphone_menu_open').style.display='none';\
	document.getElementById('iphone_menu_items').style.display='block';\
	show_menu_items('level0');\
	document.getElementById('iphone_menu_joker').style.display='none';\
")
-%>
				</span>
				<span 	id="iphone_menu_close"> 
<%-

iphone_button("&times;", "", "\
	document.getElementById('iphone_menu').style.width='auto';\
	document.getElementById('iphone_menu').style.height='auto';\
	document.getElementById('iphone_menu').style.background='transparent none';\
	document.getElementById('iphone_menu_close').style.display='none';\
	document.getElementById('iphone_menu_open').style.display='inline';\
	document.getElementById('iphone_menu_items').style.display='none';\
	document.getElementById('iphone_menu_joker').style.display='none';\
")
-%>
				</span>
				<a id="iphone_menu_joker"> 				
<%
back = translate("back", "zurück")
iphone_button("&lang;&nbsp;"..back,"","")
%>
				</a>

			</div>			
			<!-- End iPhone menu handles -->

			<!-- Begin iPhone menu items -->
			<div id="iphone_menu_items">
				<table>		
					<!-- Begin changes -->
<%
if ucic > 0 then 
%>					
					<tr class="level0" onload="document.getElementById('')">			
						<td class="menu_item">
<%
	local usc = translate("unsavedchanges");
	iphone_button('<a class="warning" href="'..controller..'/'..category..'/uci/changes">'..usc..':'..ucic..'</a>')							
%>
						</td>
						<td class="submenu_marker">
<%
	iphone_button('<a class="warning">&rang</a>',"", "show_menu_items('level0_c')")
%>
						</td>
					</tr>
<%- 
	iphone_menu("/" .. category .. "/uci/", tree.nodes[category].nodes["uci"], "0_c")	
end

%>
					<!-- End changes -->
					<!-- Begin mode menu -->
					<tr class="level0">
						<td class="menu_item">
<%
	local mode = translate('mode', 'Modus');
	iphone_button('<a>'..mode..'</a>', "", "show_menu_items('level0_m')")
%>
						</td>
						<td class="submenu_marker">
<%
	iphone_button("&rang;", "", "show_menu_items('level0_m')") 	
%>
						</td>
					</tr>
						<!-- End mode menu -->
						<!-- Begin basic menu items -->
<%-
	for k,node in pairs(tree.nodes) do
		if node.title and not node.hidden then 
%>
					<tr class="level0_m">
						<td class="menu_item <% if request[1] == k then %> active<%end%>">
<%
						iphone_button('<a href="'..controller..'/'..k..'">'..node.title..'</a>', "", "top.location.href='"..controller.."/"..k.."'")						
%>
						</td>
						<td class="submenu_marker">
						</td>
					</tr>
<%-		end
	end

	iphone_menu("/"..category.."/", cattree, 0) 
%>
					<!-- End basic menu items -->
				</table>
			</div>
			<!--End iPhone menu items -->
		</div>
		<!-- End iPhone menu -->
<%
end
%>
		<!-- Begin menu bar -->
		<div id="menubar" class="high_res_only">
			<!-- Begin main menu -->
			<div id="mainmenu" class="pulldown">
<%-
local function showleft(d)
	if d%2==1 or d==0 then
		return('')
	else
		return('show_left')
	end
end


		
local function submenu(prefix, node, depth)
	if not node.nodes or node.hidden then
		return false
	end
	local index = {}
	local count = 0
	for k, n in pairs(node.nodes) do
		if n.title and n.target then
			table.insert(index, {name=k, order=n.order or 100})
			count = count + 1
		end
	end

	table.sort(index, function(a, b) return a.order < b.order end)

	if count > 0 then 
-%>
				<ul	class="<%=showleft(depth)%>">
<%- 		
		if depth > 0 then 
%>	
					<!-- Begin upper round corners -->
					<li class="upper_corners">
						<table>
							<tr>
								<td class="l"></td>
								<td class="c"></td>
								<td class="r"></td>
							</tr>
						</table>
					</li>
					<!-- End upper round corners -->
<%- 		
		end 
		local subs
		for j, v in pairs(index) do
			if not v.hidden and #v.name > 0 then
				local nnode = node.nodes[v.name]
				local href = controller .. prefix .. v.name
				href = (nnode.query) and href .. luci.http.build_querystring(nnode.query) or href
				subs = countsubs(nnode)
%>

					<li 	class="<%=showleft(depth+1)%>">
						<a  	class="	<% if nnode._menu_selected then %>active <%end%> 
							 	<% if  subs > 0 then %>hasSub <%end%>
							"	
							href="<%=luci.util.pcdata(href)%>"
						>
							<%=nnode.title%>
						</a>
<%- 		
				if subs > 0 then
					iphone_button("&rang;", "", "this.parentNode.getElementsByTagName('ul')[0].style.display='block';") 				
				end
				submenu(prefix .. v.name .. "/", nnode, depth+1) 
%>
					</li>
<%- 
			end 
		end 
%>
					<!-- Begin lower round corners -->
					<li class="lower_corners">
						<table>
							<tr>
								<td class="l"></td>
								<td class="c"></td>
								<td class="r"></td>
							</tr>
						</table>
					</li>
					<!-- End lower round corners -->
				</ul>
<%-
	end
end



if cattree and cattree.nodes then
	local index = {}
	for k, node in pairs(cattree.nodes) do
		table.insert(index, {name=k, order=node.order or 100})
	end

	table.sort(index, function(a, b) return a.order < b.order end)

	for i, k in ipairs(index) do
		node = cattree.nodes[k.name]
		if not node.hidden and node.title and node.target then
			local href = controller.."/"..category.."/"..k.name
			href = (k.query) and href .. luci.http.build_querystring(k.query) or href 
	
%>		
				<div>
					<a href="<%=href%>"><%=node.title%></a>
<%
				submenu("/" .. category .. "/" .. k.name .. "/", node, 0)
%>
				</div>
<%-		
		end
	end
end
%>
	
				</div><!-- END main menu -->	

				<div id="changes" class="pulldown"><!-- BEGIN changes -->
					<div> <!-- this DIV is important for the CSS-selector -->
<%
if ucic > 0 then 
%>					
						<a class="warning" href="<%=controller%>/<%=category%>/uci/changes"><%:unsavedchanges%>: <%=ucic%></a>							
<%- 
	submenu("/" .. category .. "/uci/", tree.nodes[category].nodes["uci"], 0)
else 
%>
						<a class="no_changes" href="#"><%:changes%>: 0</a>
<%- 
end 
%>
					</div>
				</div><!-- END changes -->

				<div id="modemenu" class="pulldown"><!-- BEGIN mode menu -->
					<div> <!-- this DIV is important for the CSS-selector -->									
<%-
							for k,node in pairs(tree.nodes) do
								if request[1] == k then 
%>
									<a href=""><%:mode%>: <%=node.title%>&nbsp;</a></li>				
<%-								end
							end
%>


									<ul>	
<%-
							for k,node in pairs(tree.nodes) do
								if node.title and not node.hidden then 
%>
										<li><a href="<%=controller%>/<%=k%>"><%=node.title%></a></li>
<%-								end
							end
%>
										<!-- Begin lower round corners -->
										<li class="lower_corners">
											<table>
												<tr>
													<td class="l"></td>
													<td class="c"></td>
													<td class="r"></td>
												</tr>
											</table>
										</li>
										<!-- End lower round corners -->
									</ul>
					</div>
				</div><!-- END mode menu -->	


			</div><!-- END menu bar -->
		</div><!-- END header -->
	<div id="logo">
	</div>
	<div id="stats">
		<span><b><%:Distversion%>:</b> <%=luci.version.distversion%></span>
		<span><b><%:Hostname%>:</b> <%=hostname%></span>
		<span><b><%:Load%>:</b> <%="%.2f" % load1%> <%="%.2f" % load5%> <%="%.2f" % load15%></span>
		<span><b><%:Uptime%>:</b> <%=luci.tools.webadmin.date_format(tonumber(uptime))%></span>
		<span><b><%:Model%>:</b> <%=model%></span>
		<span><b><%:Identifier%>:</b> <%=identifier%></span>
	</div>
	<div id="maincontent">


