<%+header%>

<link href="/freifunk/assistent/assistent.css" rel="stylesheet" />

<div class="section">
	<h3>Freifunk Assistent</h3>

	<div class="info alert-message">
		<p class="success">
Die Standardeinstellungen sind geschafft. Als n&auml;chstes kommen
die Einstellungen für das Freifunknetzwerk. Vorher solltest du dir
mindestens eine <a target="blank"
href="http://ip.berlin.freifunk.net/index.html">IP
registrieren.</a> Ein Anleitung dafür findest du <a target="blank"
href="hier">hier</a>.
		</p>
	</div>
	<div class="tile">
		<div style="text-align: center; margin: 10px">
			<a class="cbi-button cbi-button-save" href="<%=luci.dispatcher.build_url("/admin/freifunk/assistent/sharedInternet")%>">
				Internet teilen 
			</a>
		</div>
		<div class="alert-message">
			<p class="info">
Unterstütze die Community indem du dein Internet frei gibst.
Daf&uuml;r ist es nicht n&ouml;tig eine Sichtverindung zu anderen
Freifunkroutern zu haben. Du ben&ouml;tigst allerdings einen
VPN-Schl&uuml;ssel, den du auf der <a target="blank"
href="http://lists.berlin.freifunk.net/cgi-bin/mailman/listinfo/berlin">Mailingliste</a>
anfragen kannst. Informationen zu rechtlichen Grundlagen kannst du
auf der Freifunk Internetseite <a target="blank" href="">nachlesen</a>.
			</p>
		</div>
	</div>
	<div class="tile">
		<div style="text-align: center; margin: 10px">
			<a class="cbi-button cbi-button-save" href="<%=luci.dispatcher.build_url("admin/freifunk/assistent/wireless")%>">
				Freifunknetz bereitstellen 
			</a>
</div>
<div class="alert-message">
<p class="info">
Erweitere das Freifunknetz. Du ben&ouml;tigst dazu eine
Sichtverbindug zu einem anderen Freifunkrouter, damit sich dein
Router verbinden kann. Du kannst auf der <a target="blank"
href="http://berlin.freifunk.net/network/map/">Freifunkkarte</a>
nachschauen, wer in deiner N&auml;he ist und sie kontaktieren,
damit ihr die Verbindung optimal ausrichten k&ouml;nnt.
</p>
</div>
</div>

<div class="clear"></div>
</div>
<%+footer%>
