<%+header%>

<link href="/freifunk/assistent/assistent.css" rel="stylesheet" />
<div class="section">
  <div class="info alert-message">
    <p class="success">
      Du hast alle Einstellungen geschafft. Dein Router wird jetzt neu gestartet.
      Am besten, du machst dir kurz einen Kaffee oder einen Tee :D
      und sobald alle Lichter wieder blinken, bist du Freifunkerin!
    </p>
    <p>
      Bitte beachte, dass der Router dann unter seiner neuen Freifunk-IP zu
      erreichen ist. Von direkt per WLAN oder LAN angeschlossenen Rechnern
      ist er auch unter dem Namen <a href="http://frei.funk/">frei.funk</a>
      zu erreichen.
    </p>
    <p>
      Es gibt auch Services im Freifunk-Netz. Ein Liste kannst du dir
      im Freifunk-Hauptmenu unter "Services" ansehen,
      sobald dein Router neugestartet hat.
    </p>
  </div>
<%
  local uci = require "uci".cursor()
  if uci:get("system", "ffberlin", "devmode") == "1" then
    print("<p>Das System ist im Entwickler-Modus und der automatische Neustart wird nicht ausgeführt.</p>")
  else
    luci.sys.reboot()
  end
%>
</div>

<%+footer%>
